<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenido {{ title }}!
  </h1>
</div>

<p-card [style]="{width: '360px',height:'400px'}">
    <div class="ui-g-12 ui-md-12">
      <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
          <input type="text" pInputText placeholder="Username">         
      </div>
    </div>
    <div class="ui-g-12 ui-md-12">
      <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
          <input type="text" pInputText placeholder="Password">         
      </div>
    </div>
    <div class="ui-g-12 ui-md-12">
      <div class="ui-inputgroup">
        <button pButton type="button" label="Cancelar"></button>
        <button pButton type="button" label="Ingresar"></button>        
      </div>
    </div>
</p-card>

<p>Comentario de prueba</p>

<p>Comentario de Prueba Wilfer</p>

<!--<div class="row btn bg-primary left">
  <div class="col" style="min-height: 200px; min-width: 400px; max-width: 600px;">
    <div ngResizable class="resizable-widget">
      <h4 class="widget-header">Información</h4>
    </div>
  </div>
</div>
<div class="row btn bg-danger right">
  <div class="col" style="min-height: 200px; min-width: 700px;">
    <div ngResizable class="resizable-widget">
      <h4 class="widget-header">Mapa</h4>
    </div>
  </div>
</div>-->

<!--<p-orderList [value]="cars" [listStyle]="{'height':'250px'}" [responsive]="true" header="Puntos de Visita" 
    filter="filter" filterBy="brand" filterPlaceholder="Filter by brand" dragdrop="true" dragdropScope="cars">
    <ng-template let-car pTemplate="item">
        <div class="ui-helper-clearfix">
            <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{car.brand}} - {{car.year}} - {{car.color}}</div>
        </div>
    </ng-template>
</p-orderList>-->

<dual-list [source]="source" [(destination)]="confirmed"></dual-list>
